/**
 * Basic typography style for copy text
 */

// @include reset-selection( get_color( black ), get_color( white ) );

h1,
.h1 {
	@extend %font-family-title, %font-weight-black;
	@include margin(top 0.5em bottom 0.5em);

	font-size: 120px;
	line-height: (65/120);
	letter-spacing: -1px;

	.font-family-cursive {
		@extend %font-weight-regular;

		font-size: 180px;
		line-height: 78px;
		letter-spacing: -1px;
	}
}

h2,
.h2 {
	@extend %font-family-title, %font-weight-black;
	@include margin(top 1em bottom 1em);

	font-size: 70px;
	line-height: (65/70);
	letter-spacing: -1px;

	.font-family-cursive {
		@extend %font-weight-regular;

		font-size: 100px;
		line-height: (78/100);
		letter-spacing: -1px;
	}
}

h3,
.h3 {
	@extend %font-family-title, %font-weight-black;
	@include margin(top #{(30/30)}em bottom #{(20/30)}em);

	font-size: 56px;
	line-height: (60/56);
}

h4,
.h4 {
	@extend %font-family-title, %font-weight-black;
	@include margin(top #{(30/18)}em bottom #{(20/18)}em);

	font-size: 30px;
	line-height: (29/30);
}

h5,
.h5 {
	@extend %font-family-title, %font-weight-black;
	@include margin(top 0 bottom 0);

	font-size: 21px;
	line-height: (51/21);
}

// h4,
// .h4 {
// }

// h5,
// .h5 {
// }

// h6,
// .h6 {
// }
